node_modules
.output
.nuxt
dist
.turbo
*.log
.env
.env.*
!.env.example
.DS_Store
storage/uploads/*
!storage/uploads/.gitkeep
storage/templates/*
!storage/templates/.gitkeep
storage/db/*
!storage/db/.gitkeep
**/storage/db/*
!**/storage/db/.gitkeep
storage-*
**/storage-*
coverage
.system_generated
